* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Helvetica', sans-serif;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.content {
    flex: 1 0 auto;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #0341AE;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header h1 {
    font-family: 'Pixelify Sans', sans-serif;
    margin-right: 15px;
    font-size: 1.5rem;
}

nav a {
    margin-left: 15px;
    text-decoration: none;
    color: white;
}

.nav-item {
    position: relative;
    padding: 5px 8px;
}

section {
    padding: 30px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url('tetrisplay.gif') no-repeat center center fixed;
    background-size: 50%;
    background-position: center 65%;
}

.intro h2 {
    font-family: 'Pixelify Sans', sans-serif;
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #FFD500;
}

.intro p {
    margin-bottom: 15px;
    font-size: 1rem;
    color: #FF971C;
}

.beginning {
    padding: 30px;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('path-to-background-image.jpg') no-repeat center center fixed;
    background-size: cover;
}

.beginning h2 {
    font-family: 'Pixelify Sans', sans-serif;
    margin-bottom: 15px;
    font-size: 2rem;
    color: #FFD500;
}

.beginning p {
    margin: 15px 0;
    font-size: 1rem;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.tetris-image {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    max-height: 400px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.timeline {
    padding: 30px;
    background-color: #272727;
    text-align: center;
}

.timeline h2 {
    font-family: 'Pixelify Sans', sans-serif;
    margin-bottom: 30px;
    font-size: 2rem;
    color: #FFD500;
}

.timeline-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.timeline-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.timeline-content {
    flex: 1;
    text-align: left;
}

.timeline-content h3 {
    font-family: 'Pixelify Sans', sans-serif;
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #FFD500;
}

.timeline-content p {
    color: #FFFFFF;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .timeline-item {
        flex-direction: column;
        align-items: center;
    }

    .timeline-image {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .timeline-content {
        text-align: center;
    }
}

.tetris-versions {
    margin: 30px 0;
}

.tetris-version {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-between;
}

.version-image {
    width: 35%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.version-content {
    width: 60%;
}

.version-content h3 {
    font-family: 'Pixelify Sans', sans-serif;
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #FFD500;
}

.version-content p {
    margin-bottom: 15px;
}

.version-content a {
    text-decoration: none;
    color: #FF3213;
    border: 2px solid #FF3213;
    padding: 8px 15px;
}

/* Footer styles */
footer {
    padding: 15px;
    text-align: center;
    background-color: #FF3213;
}
